
.contactus-container {
    width: 100%;
    top:5rem;
    position: relative;
    display: inline-block;
}
.contactus-container h1 {
    padding: 0%;
    color: brown;
    margin: 0%;
}
.contactus-container hr {
    position: relative;
    background-color: brown;
    top: 2.5rem;
    height: 4px;
}

.contactus-img {
    width: 18rem;
    height: 19rem;
    background-repeat: no-repeat;
    background-image: url(../src/images/contactus.jpg);
}
.clearfix {
    width: 100%;
}
.clearfix p {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 200%;
    font-weight: bold;
  }
.crawl-info-container {
    margin: 30px 0px 25px;
    position: relative;
    box-sizing: border-box;
}
#form-container{
    top:auto;
    background-color:inherit;
    position: relative;
    font-size: larger

}