
.contactus-container {
    width: auto;
    top: 18%;
    height: 33%;
    left: 0;
    margin: 0.5rem auto;
    background-size: cover;
    color: black;
    font-weight: 900;
    position: absolute;
    display: inline-block;
}
.contactus-container h1 {
    padding: 0%;
    color: brown;
    margin-bottom: 0%;
}
.contactus-img {
    width: 100%;
    padding: 100% 80% 90% 5%;
    margin-bottom: 10%;
    clear: both;
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url(../src/images/contactus.jpg);
}
