.footer{
    left: 0;
    bottom: 0;
    width: 100%;
    /* padding: 0.5%; */
    height: 25%;
    display: flow-root;
    text-align: left;
    background-color:grey;
    /* font-size: 1em; */
    color: black;
    justify-content: space-around;
    position: fixed;
}

.footer ul {
    list-style-type: none;
    display: flow-root;
}

.footer ul li {
    display: inline-block;
    width: 33%;

}
.footer ul li h4{
    display: inline-block;
    position: relative;
}

.support-images {
    background-image: url(../src/images/talktous.jpg);
    background-repeat: no-repeat;
    font-size: 1em;
    background-size: 40px;
    background-position: bottom left;
    padding: 10%;
    padding-bottom: 0%;
    padding-right: 0%;
    position: absolute;
    text-align: left;
}