.footer{
    left: 0;
    bottom: 0;
    width: 100%;
    position: fixed;
    text-align: left;
    background-color: greenyellow;
    font-size: 2em;
    color: black;
    justify-content: space-around;
}

.footer ul {
    list-style-type: none;
    display: flow-root;
}

.footer ul li {
    display: inline-block;
    width: 33%;

}
.footer ul li h4{
    display: inline-block;
    width: 33%;

}

.support-images {
    background-image: url(../src/images/talktous.jpg);
    font-size: 0.73em;
    background-size: 80px;
    padding: 10%;
    position: fixed;
    text-align: center;
    background-repeat: no-repeat;
}