.header {
    margin: 50px;
    text-align: center;
    font-weight: 900;
    font-size: 30px;
}

#top-navigation-menu {
  height:45px ;
  width: 100%;
  display: inline-block;

}

.category-menu > ul > li {
    position: relative;
    z-index: 1015;
    background: right top no-repeat;
    margin-bottom: 0%;
    display:inline-block;
    padding: 0 15px;
}
.category-menu > ul > li > a {
    color: aliceblue;
    font-weight: 500;
    font-size: 40px;
    padding-top: 12px;
    padding-bottom: 12px;
    display: inline-block;
}
.header-title {
    background:none;
    margin: 1p;
    text-align: center;
    padding: 0;
    font-size: 50px;
}

#header .category-menu{
    display: inline-block;
}
primary-nav {
    list-style-type: disc;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
}
#header * {
    box-sizing: border-box;
}

#header ul li, {
    display: list-item;
    margin: 0;
    padding: 0;
}
#header {
    line-height: 1.5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: beige;
    min-height: 100px;
    background: #0046be;
    position: relative;
    -webkit-font-smoothing:antialiased;
}
div {
    display: block;
}
.headerline{
    background-color: rebeccapurple;
    border: 1px solid #666;
    border-style: inset;
    position: absolute;
    padding: 0%;
    width: 100%;
    margin-top:auto;
}
.home-page{
    background-color:ghostwhite;
    -webkit-text-fill-color: black;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;

}
.home-page-title{
    /* line-height: 2.10; */
    font-size: 50px;
    /* margin: 10px; */
    font-style: oblique;
    font-family: -webkit-body;
    color: crimson;
    font-weight:700;
    text-decoration:underline;
    text-decoration-color: darkslategray;
}
.home-page-content{
    margin: auto;
    font-size: 20px;
    font-style: normal;
}
ol {
 font-size: 20px;  
}
ol li{
    color: black;
    font-size: 20px;
    align-items: flex-start;
}

.footer{
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: ghostwhite;
    font-size: 20px;
    color: black;
    display: flex;
    justify-content: space-around;
}

.data-title {
    font-size: 20px;
    font-weight: 900;
}

#bg img {
    /* background: url('./../src/images/Media_backGround.jpg') no-repeat Center center fixed; */
    min-height: 100%;
    min-width: 100%;      
    width: auto;
    height: auto;
      
    /* Set up positioning */
    position: fixed;
    /* top: 0; */
    /* left: 0; */
  }
  
@media screen and (max-width: 1024px) { /* Specific to this particular image */
    img.bg {
      left: 50%;
      margin-left: -512px;   /* 50% */
    }
  }
