body {
    counter-reset: pages;
}
.container {
    width: auto;
	max-width: 90%;
}
#top-navigation-menu {
  height:100px ;
  width: 100%;
  display: inline-block;
  position: absolute;
  top: 50px;
  left: 0px;
  background-color: currentColor;
}
.page-container{
    position: absolute;
    width: 100%;
    top: 8%;
}
.header-title {
    top:0px;
    bottom: 10px;
    background:#F28C38;
    text-align: center;
    color: black;
    height: 50px;
    font-size: 50px;
    width: 100%;
    left: 0px;
    overflow: hidden;
    position: absolute;
}
.category-menu > ul > li {
    position: relative;
    z-index: 1015;
    background: right top no-repeat;
    margin-bottom: 0%;
    display:inline-block;
    padding: 0 15px;
}
.category-menu>ul>li>a {
    color: aliceblue;
    font-weight: 500;
    font-size: 40px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-decoration: none;
}

.category-menu>ul>li.active>a {
    color: chartreuse;
    cursor: pointer;
}
.category-menu{
    display: inline-block;
    width: 100%;
    overflow: visible;
}

.primary-nav {
    list-style-type: disc;
    padding: 10px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    text-align: right;
    float: right!important;
    width: 100%;
}


#header ul li, {
    display: list-item;
    margin: 0;
    padding: 0;
}

div {
    display: block;
}
.headerline{
    background-color: rebeccapurple;
    border: 2px solid #666;
    border-style: inset;
    position: relative;
    padding: 0.03%;
    width: 100%;
    margin-top: auto;
}
.home-page{
    background-color:ghostwhite;
    -webkit-text-fill-color: black;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    overflow: auto;
}
.home-page-title{
    font-size: 5em;
    /* margin: 10px; */
    font-style: oblique;
    font-family: -webkit-body;
    color: crimson;
    text-decoration: underline;
}
.home-page span{
    margin: auto;
    font-size: 2.5em;
    font-style: normal;
}

ol li{
    color: black;
    font-size: 2.5em;
    align-items: flex-start;
    /* list-style-type:lower-roman; */
    counter-increment: pages;

}
.data-title {
    font-size: 1em;
    padding: 0%;
    margin: 0%;
}

ol {
    margin-left: 1.8em;
    display: inline-table;
    font-size: 1em;
}

.media-page {
    margin-top: 0%;
}
.media-page-title {
    background: darkgrey;
    width: 100%;
    position: absolute;
    text-align: center;
    font-size: 50px;
    font-family: initial;
    padding-left: 20px;
}
  #media_image {
    display: inline-flex;
    margin-left:auto;
    position: absolute;
    border: 3px solid black;
    padding: 0;
    left: 30%;
    top:170px;
    margin: 10px;
    width: 50%;
  }
  .image-title {
     
      font-size: 20px;
      font-weight: bold;
      position: absolute;
      left: 50%;

  }
@media screen and (max-width: 1024px) {
    img.bg {
      left: 50%;
      margin-left: -512px;  
    }
  }

  .carousel {
      height: 100%;
      margin: 0;
      width: 100%;
  }

  .image-slide {
	height: 100%;
	width: 100%;
	transition: background-image .3s ease-in-out;
}

.slider {
    height:700px;
    width: 700px;
    position: relative; 
}

.slide {
    height: 100%;
    width: 30%;
    display: inline-block;
}
.slider-wrapper {
    height: 100%;
    width: 100%;
    position: relative;
}
.next-arrow {
    
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    text-align: center;
}
.pre-arrow {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    text-align: center;
}
.arrow {
    border: solid black;
    border-width: 0 10px 10px 0;
    display: inline-block;
    padding: 30px;
    position: relative;
}
.image-carousel {
    height: 100%;
    width: 50%;
}



.contactus-container {
    position: absolute;
    text-align: left;
}

.contactus-img {
    position: relative;
    top: 2em;
    display: block;
    width: 100%;
    height: auto;
    font-size: 4rem;
    font-style: italic;
    text-align: start;
    text-decoration-line: underline;
    color:blue;
    padding-right: 85%;
    padding-top: 63%;
    padding-bottom: 20%;
    background-size: 500px;
    filter: contrast(1);
    background-image: url(../src/images/contactus.jpg);
    background-repeat: no-repeat;
    background-position: top left;
}

.contactus-container:after {
    content: "";
}

